input::-webkit-input-placeholder {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-family: italic;
	font-weight: 100;
}

input::-moz-placeholder {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-family: italic;
	font-weight: 100;
}
