.todos-add_input{
	border: none;
	left: 8px;
	top: 5px;
	min-height: 50px;
	position: relative;
	width: 80%;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-family: italic;
	font-weight: 100;
	font-size: 30px;
}
