@import "../../config/globals";

.todo-item_mark, .todo-item_mark-checkbox {
	padding: 0;
	background-color: transparent;
	border: 1px solid $c-border;
	border-radius: 50%;
	width: $w-checkbox;
	height: $h-checkbox;
}

.todo-item_mark-checkbox {
	position: absolute;
	float: left;
	z-index: 1;
}

.todo-item_mark:checked + .todo-item_mark-checkbox {
	border-color: $c-checkbox;
	background: url("../../../images/icons/completed.png") no-repeat center center;
}