.todos-actions-bar{
	line-height: 40px;
	min-height: 40px;
	background-color: white;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-family: italic;
	font-weight: 100;
	font-size: 15px;
	box-shadow: 0 2px 3px #cecece;
}
