@import "../../config/globals";

.todo-item {
  background-color: $c-white;
  min-height: 60px;
  border-bottom: 1px solid $c-border;
}

.todo-item:hover {
  background-color: $c-todo-item-hover;
}

  textarea {
    border: none;
    background: transparent;
    position: relative;
    width: 80%;
    resize: none;
    top: 5px;
    min-height: 50px;
    height: 50px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 100;
    font-size: $fs-large;
  }

  .todo-item_remove {
    float: right;
    margin-top: 21px;
    margin-right: 21px;
    width: 18px;
    height: 18px;
    padding: 0;
    opacity: 0.5;
    background: transparent url("../../../images/icons/close.png") no-repeat;
  }

  .todo-item_remove:hover {
    opacity: 1;
  }