@import "../../config/globals";

.todo-item {
  background-color: $c-white;
  min-height: $min-h_item;
  border-bottom: 1px solid $c-border;
  display: flex;
  align-items: center;
}

.todo-item:hover {
  background-color: $c-todo-item-hover;
}

.todo-item:hover .todo-item_remove {
  opacity: 1;
}

  .todo-item_mark {
    float: left;
    opacity: 0;
    z-index: 2;
    padding: 0;
    background-color: transparent;
    border: 1px solid $c-border;
    border-radius: 50%;
    width: $w-checkbox;
    height: $h-checkbox;

    order: 1;
    align-self: center;
  }

  .todo-item_text {
    flex: 1 0;
    order: 10;
  }

  textarea {
    border: none;
    background: transparent;
    resize: none;
    min-height: $min-h_textarea;
    @include priority-font('Helvetica Neue');
    font-weight: 100;
    font-size: $fs-large;
  }

  .todo-item_remove {
    float: right;
    margin-top: ($min-h_item - $h-remove)/2;
    margin-right: ($min-h_item - $w-remove)/2;
    width: $w-remove;
    height: $h-remove;
    padding: 0;
    opacity: 0.2;
    background: transparent url("../../../images/icons/close.png") no-repeat;

    @include transition(opacity, 0.8s);

    order: 26;
    align-self: center;
  }