@import "../../config/globals";

.todos-step1{
  height: 5px;
  background: $c-white;
  border: solid 1px $c-border;
  box-shadow: 0 3px 5px $c-shadow;
  margin-left: 2px;
  margin-right: 2px;
}

.todos-step2{
  height: 4px;
  background: $c-white;
  border: solid 1px $c-border;
  box-shadow: 0 3px 5px $c-shadow;
  margin-left: 4px;
  margin-right: 4px;
}



